/* Casual Conversation stylesheet by Dissimulate 
** Edited by tizorres for tifu ****************/

/***********************************

Theme Colours

#638be4 - Main menu, buttons, stuff

#82AFBE - Background, submit button

#1c323b - Outlines

#427080
 - Headers, dark buttons

***********************************/

/* Listing page announcement (CSS) */

/*
body.listing-page > .content:before {
    content: "This is a test announcement";
    display: block;
    background: #638be4;
    color: rgba(255, 255, 255, 0.8);
    padding: 0 8px;
    font-family: Helvetica, sans-serif;
    font-size: 14px;
    height: 32px;
    line-height: 32px;
    opacity: 0.9;
}
*/

/* Listing page announcement (Sidebar) */

.bottom:before {
font-size: 12px;
content: "this subreddit is brought to you by the letter k ";
color:#ddd;
}

.side .usertext-body h3:first-of-type {
    display: none;
    background: #427080;
    color: rgba(255, 255, 255, 0.9);
    padding: 0 8px 0 10px;
    font-family: Helvetica, sans-serif;
    font-size: 14px;
    height: 38px;
    line-height: 38px;
    opacity: 0.9;
    position: absolute;
    z-index: 9;
    border: none;
    left: 21px;
    right: 341px;
    width: auto;
    top: 107px;
    text-align: left;
    font-weight: normal;
    border-radius:0px !important;
    font-family:'Lucida Sans Unicode','Lucida Grande','Lucida Sans','DejaVu Sans Condensed',sans-serif;
    font-weight: 900px;
    text-transform: uppercase;
    font-variant: small-caps;
}

.listing-page .side .usertext-body h3:first-of-type {
    display: block;
}

.side .usertext-body h3:first-of-type a {
    color: #B8E5F3;
}

body.listing-page > .content {
    padding-top: 34px !important;
}

/* End of sidebar announcement */

body {
    background: #82AFBE;
}
body > .content {
    position: relative;
    top: 8px;
    margin-left: 20px;
    margin-right: 340px;
    margin-bottom: 60px;
    background: #FDFDFD;
    padding: 0;
    padding-top: 1px;
    position: relative;
    border: 1px solid #1c323b;
    border-top: none;
}

.tabmenu {
    position: absolute;
    left: 20px;
    top: 75px;
    right: 340px;
    background: #427080;
    height: 40px;
    padding: 0;
    margin: 0;
    border: 1px solid #000;
    border-bottom: none;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.tabmenu li a {
 opacity:.8;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.tabmenu li a:hover {
  opacity:1;
}
#header .tabmenu li a:hover {
	color: rgba(255,255,255,1);
	background-color: rgba(0,0,0,0.08);
}

/* Menu colours and info bars for tags */

body.post-linkflair-S > .content:before,
body.post-linkflair-M > .content:before,
body.post-linkflair-L > .content:before,
body.post-linkflair-XL > .content:before,
body.post-linkflair-removed > .content:before {
    display: block;
    color: rgba(255, 255, 255, 0.8);
    padding: 0 8px 0 13px;
    font-family: Helvetica, sans-serif;
    font-size: 14px;
    height: 32px;
    line-height: 32px;
}

body.post-linkflair-XL .tabmenu {
    background: #dd7680;
}
body.post-linkflair-mod .tabmenu {
    background: #4fc761;
}

body.post-linkflair-L .tabmenu{
    background: #ffb263;
}

body.post-linkflair-S .tabmenu {
    background: #65a4ed;
}

body.post-linkflair-M .tabmenu {
    background: #edc365;
}

.content .tabmenu {
    position: static;
    display: block;
    padding-left: 0;
    border: none;
}
.tabmenu.formtab {
    padding-left: 0 !important;
}
.tabmenu.formtab a {
    border: none;
}
.formtabs-content {
    border-top: none;
}
.tabmenu.formtab .selected a {
    background-color: #4C69DB !important;
}
body:not(.listing-page) .tabmenu {
    padding-left: 4px;
}
.tabmenu li {
    margin: 0;
}
.tabmenu li a {
    margin: 0;
    display: inline-block;
    height: 100%;
    border: none;
    padding: 0 8px;
    line-height: 40px;
    color: rgba(255, 255, 255, 0.7);
    font-weight: normal;
    background: transparent;
}
.tabmenu li.selected a {
    border: none;
    color: rgba(255, 255, 255, 0.9);
    background: transparent;
}
#header {
    background:#82AFBE;
    background-size: 600px;
    height: 100px;
    border-bottom: 0px solid #1c323b !important;
    position: relative;
    z-index: 9999;
}
#sr-header-area {
    background-color: rgba(255, 255, 255, 0.05);
    border: none;
    /*margin-right: 400px;*/
    height: 26px;
}
#sr-header-area .width-clip,
#RESShortcutsViewport {
    margin-right: 400px;
    padding-right: 60px;
}
#sr-more-link {
    background: transparent;
}
#sr-header-area a {
    color: #fff;
    line-height: 26px;
}
#sr-header-area span {
    line-height: 26px;
}
#sr-header-area:hover #RESShortcutsEditContainer {
    opacity: .9 !important;
}
#RESShortcutsEditContainer {
    opacity: 0 !important;
    right: 400px !important;
    background: #1c323b !important;
    height: 26px !important;
}
#RESShortcutsEditContainer div {
    background: transparent !important;
    line-height: 23px !important;
}
.res #RESShortcutsEditContainer,
.res #RESShortcutsSort, 
.res #RESShortcutsRight,
.res #RESShortcutsAdd, 
.res #RESShortcutsTrash, 
.res #RESShortcutsLeft {
  background: transparent!important;
  color: #ddd !important;
  opacity:.3;
}
#header-bottom-left > a {
      background-image: url(%%snoo%%);
 /*   background-size: 100%;*/
    background-repeat: no-repeat;
    height: auto;
    width: 120px;
    padding: 2%;  
    display: inline-block;
    margin-top: 1%;
    position: absolute;
    left: 45px;
    top:15px;
    
}

#header-img {
display: none;
}
#header-bottom-left > span {
    position: absolute;
    top: 55px;
    left: 95px;
    display: inline-block;
}


#header-bottom-left > span a {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  /*  font-weight: 300;*/
    font-size: 0px;
    color: #fff;
    width: 435px;
    height: 45px;
    background-size: 85%;
    background-repeat: no-repeat;
    display: block;
}


#header-bottom-right {
    background: rgba(255, 255, 255, 0);
    top: 0 !important;
    right: 0;
    padding: 0 !important;
    height: 26px !important;
    line-height: 26px;
    padding-left: 8px !important;
    padding-right: 8px !important;
    color: #fff;
}
#header-bottom-right .user {
    font-size: 0px;
}
#header-bottom-right .user > a {
    font-size: 13px;
}
#header-bottom-right a {
    color: #fff;
}
#userbarToggle {
    background: rgba(255, 255, 255, 0) !important;
    border-radius: 0 !important;
    border: 0 !important;
    left: -25px !important;
    top: 0 !important;
    height: 25px !important;
    color: #ddd !important;
}
.beta-hint a {
  margin-left: -32px;
  margin-top: 7px;
}
#RESAccountSwitcherIcon {
    position: relative;
    top: -4px;
}
#RESAccountSwitcherDropdown {
  z-index: 9999999 !important;
}
.userattrs {
    font-size: 0;
}
.userattrs a {
    background: #aaa;
    width: 15px;
    height: 15px;
    text-align: center;
    font-size: 10px;
    font-family: Helvetica, sans-serif;
    display: inline-block;
    color: #fff !important;
    vertical-align: bottom;
    line-height: 15px;
    border-radius: 4px;
}
.userattrs a:hover {
    text-decoration: none;
}
.thing .tagline a.author.moderator {
    background: transparent !important;
    color: #4fc761 !important;
    border: 1px solid #4fc761 !important;
    padding: 0 4px;
    border-radius:4px;
}
.userattrs a.moderator {
    background: #4fc761;
}
.listing-page .thing .tagline {
    margin-left: 29px;
}
.thing .tagline a.author.submitter {
    background: transparent !important;
    color: #638BE4 !important;
    border: 1px solid #638BE4 !important;
    padding: 0 4px;
    border-radius:4px;
}
.userattrs a.submitter {
    background: #638BE4;
}
.comment .usertext-body {
    margin-right: 10px !important;
}
.nav-buttons {
    margin: 10px 26px;
}
.link.last-clicked {
    border: none;
}
.link {
    margin: 6px 4px;
    padding-top: 14px;
    border-top: 1px solid #eee !important;
}
.link.stickied {
    /*border-bottom: 1px solid #eee;*/
    /*padding-bottom: 10px;*/
}
.link:first-child {
    border-top: none !important;
}
.link a.title {
    color: #4C69DB;
}
.link .rank {
    display: none;
}
.link .entry .expando-button {
    width: 20px;
    height: 20px;
    margin: 4px 8px 0 0;
    background: url(%%buttons%%) no-repeat -9999px -9999px!important;
}
.link .expando-button:hover {
    cursor: pointer;
}
.link .entry .expando-button.selftext.collapsed {
    background-position: 0 -38px!important;
}
.link .entry .expando-button.selftext.collapsed:hover {
    background-position: -20px -38px!important;
}
.link .entry .expando-button.selftext.expanded {
    background-position: 0 -58px!important;
}
.link .entry .expando-button.selftext.expanded:hover {
    background-position: -20px -58px!important;
}
.link .entry .expando-button.video.collapsed,
.link .entry .expando-button.video.expanded {
    background-position: 0 -78px!important;
}
.link .entry .expando-button.video.collapsed:hover,
.link .entry .expando-button.video.expanded:hover {
    background-position: -20px -78px!important;
}
.res .link .entry .expando-button.image.collapsedExpando,
.res .link .entry .expando-button.image.expanded,
.res .link .entry .expando-button.video-muted.collapsedExpando,
.res .link .entry .expando-button.video-muted.expanded{
    background-position: 0 -98px!important;
}
.res .link .entry .expando-button.image.collapsedExpando:hover,
.res .link .entry .expando-button.image.expanded:hover,
.res .link .entry .expando-button.video-muted.collapsedExpando:hover,
.res .link .entry .expando-button.video-muted.expanded:hover{
    background-position: -20px -98px!important;
}
.link .RES-keyNav-activeElement {
    background-color: transparent !important;
}
.link .RES-keyNav-activeElement .tagline {
    position: relative;
}
.listing-page .thing .RES-keyNav-activeElement .tagline:after {
    top: 50%;
    right: 2px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(136, 183, 213, 0);
    border-right-color: #82AFBE;
    border-width: 12px;
    margin-top: -15px;
    z-index: 999;
    opacity: 0.5;
}
/*button colors*/
/*.entry .buttons .approve-button a {
    color: #4fc761 !important;
}*/
.report-button a {
    color: #dd7680!important;
}
.buttons .comments.empty {
    color: #4fc761!important;
}
.buttons .comments {
    color: #65a4ed!important;
}
.entry .flat-list li a[onclick*="reply"] {
    color: #4fc761!important;
}
ul.report-reasons {
    display:block;
/*  background-color: #dd7680; color: #fff;
    border:none; border-radius: 0px; */
}
.action-form {
  background-color: #dd7680; color: #fff;
  border:none; border-radius: 0px;  
}
a.give-gold.login-required {
    color: #9A7D2E!important;
}
/*end button colors*/

.thing .arrow {
    background-size: 32px;
    width: 32px;
    height: 16px;
    background-position: center !important;
}
.thing .arrow.up {
    background-image: url(%%up%%);
}
.thing .arrow.upmod {
    background-image: url(%%up-voted%%);
}
.thing .arrow.down {
    background-image: url(%%down%%);
}
.thing .arrow.downmod {
    background-image: url(%%down-voted%%);
}
.thing .midcol {
    position: relative;
    top: -4px;
    width: 40px !important;
}
.thing.comment .midcol {
    width: 30px !important;
}
.thing .midcol .score {
    line-height: 20px;
}
.link .linkflairlabel {
    /*min-width: 60px;*/
    padding: 2px;
    color: #fff;
    border: none;
    border-radius: 0;
}
.link .usertext-body .md {
/*    max-width: none;*/
    background: #fafafa;
    border-color: #aaa;
    border-radius: 0;
}
.linkinfo {
    width: 281px;
    position: relative;
    left: -5px;
    color: #eaeaea;
    border: none;
    border-radius: 0;
    padding: 10px;
    background: #538DA0;
      border-radius: 15px;
}
.side {
    background: transparent;
    /*margin-top: 70px;*/
    width: 296px;
    margin-right: 20px !important;
    margin-top: 10px;
}
.side .md {
    color: #fff;
}
.side .md a{
    color: #CDF0E8;
}
.side .submit-link {
    display: none;
}
.side .submit-text {
    position: absolute;
    top: 75px;
    right: 24px;
    width: 295px;
    z-index: 999999;
}
.side .submit-text .morelink {
    background: #427080;
    height: 35px;
    line-height: 35px;
    border: none;
  transition: all 0.25s ease;
  opacity:.8;
  border:1px solid #000;
  border-radius: 25px;
}
.side .submit-text .morelink a {
    font-size: 0px;
}
.side .submit-text .morelink a:after {
    content: "submit your fuck-up";
    color: #F6F6F6;
    font-family:'Lucida Sans Unicode','Lucida Grande','Lucida Sans','DejaVu Sans Condensed',sans-serif;
    font-size: 24px;
    letter-spacing: .05em;
}
.side .submit-text .morelink:hover {
    opacity:1;
  /*  box-shadow: 0 15px 20px rgba(10,0,10,.3);*/
}
.sidebox.submit:hover:before{
    position:fixed;
    display:block;
    top:0;
    text-align:center;
    background-color:#427080; /*Edit to your liking*/
    color:white; /*Font color*/
    z-index:1000;
    padding:5px 0;
    width:100%;
    left:0;
    font-size:15px;
    font-weight:normal;
    content:"Please read the rules before posting."
}
.morelink .nub {
    display: none;
}
#search {
    position: relative;
    /*right: 6px;*/
    width: 290px;
    margin-top: 15px;
    opacity:.9;

}
#search input[type="text"] {
    width: 290px;
    height: 30px;
    border: none;
    border: 1px solid #1c323b;
    background: #557E8D;
    color: #fff!important;
    border-radius: 25px;
}
input:focus {
    outline: none;
}
#searchexpando {
    background: #6498A9;
    border: 1px solid #1c323b;
    color: #ddd;
  display: none;
  margin: -15px 0 0 0;
  padding-top: 20px;
  border-radius: 3px;
}
#searchexpando a{
    color: #fff;
}
.pagename { display:none;}
.pagename a{
    font-size: 20px;
    margin-left: 125px;
}

span.hover.pagename.redditname a {
    position: relative;
    left: -50px;
    bottom: 15px;
    text-shadow: none;
    visibility: hidden;
    font-size: 15px;
    z-index:9999;

    }
span.hover.pagename.redditname a:after {
    content: "Today, I Fucked Up.";
    visibility: visible;
    font-size: 20pt;
    color: #000;
 /*   font-weight: 900px;*/
    font-family:'Lucida Sans Unicode','Lucida Grande','Lucida Sans','DejaVu Sans Condensed',sans-serif;
    }
span.hover.pagename.redditname a:hover {
    text-decoration: none;
    }
.titlebox form.toggle
 {
    background: transparent;
    color: #eee;
    font-size: 10px;
}
.leavemoderator {
    display:none;
  background: transparent;
  color: #eee;
  font-size: 0px!important;
  top: 10px;
  position: relative;
  left: 10px;
  z-index: 9999;
}
.sidecontentbox .title h1 {
    background: #427080;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: none;
  color: #fff;
  padding: 8px 8px;
  width: 280px;
  position: relative;
  top: -9px;
  font-size: 14px;
  font-weight: bold;
  font-family: Helvetica,sans-serif;
  margin-bottom: -10px;
  text-align: center;
  display:inline-block;
    
}
.sidecontentbox{
     background: #6498A9;
}
.sidecontentbox .content { border:none;}
.sidecontentbox .more a,.titlebox .bottom { color: #ddd;}
.side h1 {
    /*width: 288px;*/
/*    background: #538DA0;*/
    /*position: relative;*/
    /*right: 4px;*/
    padding: 4px;
    margin: 0 !important;
    font-size: 12px !important;
    color: #fff;
}
/*.side h1:last-of-type {
    background: #427080
;
    text-align: center;
    color: #fff;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;

}*/

.side h1 + ul {
    /*width: 272px;*/
    background: #6498A9;
    /*position: relative;*/
    /*right: 4px;*/
    padding: 0 8px;
    margin: 0 !important;
    /*margin-bottom: 6px !important;*/
    border-bottom: 4px solid #82AFBE;
    height: auto;
    max-height: 0;
    overflow: hidden;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.side h1 + ul a {
    color: #eee;
}
.side h1 + ul sup {
    margin-top: 6px;
    display: block;
}
.side h1:hover {
    cursor: pointer;
}
.side h1:hover + ul,
.side h1 + ul:hover {
    padding: 8px;
    max-height: 400px;
}
.side td,
.side th {
    border-color: #3e5c6a;
}
.side .usertext {
    /*background: rgb(66,84,93);*/
    background: #538DA0;
    /*border: 1px solid #1c323b;*/
}
.side code {
    background: transparent;
}
.side .usertext p {
    padding: 0px 8px;
}
 
.side .usertext h2:first-of-type,
.side .usertext h3:not(:first-of-type):not(:nth-of-type(2)) { 
    top: -16px 
}
.side hr { height: 21px }
.side .usertext h3,
.side .usertext h2{
    background: #427080;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: none;
    color: #fff;
    padding: 8px 8px;
    display: block;
    width: 280px;
    position: relative;
    top: -9px;
    font-size: 14px;
    font-weight: bold;
    font-family: Helvetica, sans-serif;
    margin-bottom: -10px;
    text-align: center;
}
.side .usertext h2:after{
    content:"hover for detalis";
    color:#B8E5F3;
    font-style:italic;
    margin-left:10px;
}
.side .helplink:hover { opacity:1;}
.side .helplink {
    /*padding: 4px 8px;*/
    /*white-space: nowrap;*/
    /*font-size: 16px;*/
    /*font-family: Helvetica, sans-serif;*/
    /*text-align: center;*/
    /*color: #f2f2f2;*/
    /*background: #638be4;*/
    background: #538DA0!important;
    border: 1px solid #427080;
    color: #fff!important;
    padding: 16px 8px!important;
    display: block!important;
    width: 278px!important;
    height:250;
    opacity:.8;
    /*position: relative;*/
    /*left: -9px;*/
    /*top: -9px;*/
    font-size: 16px!important;
    /*font-weight: bold;*/
    font-family: Helvetica, sans-serif!important;
    text-align: center!important;
    margin-bottom: 0px!important;
    margin-top: 0px!important;
    /*margin-top: 10px;*/
    /*margin-top: 0;*/
    z-index:9999;
}
.side a[href$="/r/tifu/w/rules"]
{
  background: #427080!important;
  border: 1px solid transparent;
    border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: #fff!important;
  padding:2px!important;
  display: block!important;
  width: 290px!important;
  opacity: .9;
  font-size: 11px!important;
  font-family: Helvetica,sans-serif!important;
  text-align: center!important;
  margin-left: -8px!important;
  margin-top: -8px!important;
    transition: all 0.25s ease;
  z-index: 9999;
}
.side a[href$="/r/tifu/w/rules"]:hover
{
    opacity:1;
    box-shadow: 0 2px 15px rgba(10,0,10,.3);

    text-decoration: none;
}
    

.side a[href$="/r/tifu/w/"] {
    /*top: -10px;*/
    color: #fff;
}
.side hr {
    border: none;
    background: #82AFBE;
    height: 14px;
    margin: 0;
}
.side .usertext p:nth-of-type(2) {
    background: #82AFBE;
    padding: 0;
    margin: 0;
}
.side .usertext p:nth-of-type(3) {
    background: #82AFBE;
    padding: 0;
    margin: 0;
}
.side .usertext p:nth-of-type(4) {
    background: #82AFBE;
    padding: 20px 0;
    margin: 0;
}
.side .usertext p:nth-of-type(4) a {
    background: #427080
;
    /*background: #4C69DB;*/
    border: 1px solid #427080;
    width: 93px;
    display: inline-block;
    margin: 0;
    text-align: center;
    padding: 8px 0;
    color: #fff;
}

.side .usertext p:nth-of-type(4) a:nth-of-type(1) {
    margin-right: 1.5px;
}
.side .usertext p:nth-of-type(4) a:nth-of-type(1),
.side .usertext p:nth-of-type(4) a:nth-of-type(2) {
    width: 143px;
    margin-top: 6px;
}

.side:before {
    position: absolute;
    left: 0;
    top: 151px;
    /*background: -webkit-linear-gradient(to bottom, #82AFBE 0px, #82AFBE 6px, transparent);*/
    /*background: -o-linear-gradient(to bottom, #82AFBE 0px, #82AFBE 6px, transparent);*/
    /*background: -moz-linear-gradient(to bottom, #82AFBE 0px, #82AFBE 6px, transparent);*/
    /*background: linear-gradient(to bottom, #82AFBE 0px, #82AFBE 6px, transparent);*/
    content: " ";
    width: 40px;
    height: 46px;
    z-index: 9;
}
/*.side .redditname {
    display: none;
}*/
.titlebox .redditname a{
    font-size: 30px;
    font-family:'Lucida Sans Unicode','Lucida Grande','Lucida Sans','DejaVu Sans Condensed',sans-serif;
    font-weight: 900px;
    text-transform: uppercase;
    font-variant: small-caps;
    background:none!important;
    position:absolute;
    right:130px;
    top:30px;
    z-index:9999;
    
}
.titlebox .redditname a:before{
    content: "r/";
    font-size: 27px;
    font-variant: normal;
    text-transform: lowercase;
    padding-right: 4px;
}
.titlebox .redditname a:hover{
    text-decoration: none;
}

.RESshortcutside, 
.RESshortcutside.remove, 
.RESDashboardToggle, 
.RESDashboardToggle.remove{
    background: transparent !important;
    color:#427080!important;
    border:0 !important;
    position: relative;
    right: 10px;
    top:0px;
}

form.toggle.sr_style_toggle {
    color:#427080;
 /*   position:absolute;
    top:202px;
    right:30px;/*
}
.subscribe-button {
  /*  display: block !important;*/
    margin-top: 10px;
}
.subscribe-button a {
    text-align: center;
    font-family: Helvetica, sans-serif;
    font-size: 16px !important;
    padding: 4px 0 !important;
}
.subscribe-button a.add {
    background: none !important;
     /*  box-shadow: 0px 1px 5px rgba(0,0,0,0.24)!important;*/
  transition: all 0.25s ease;
      border-radius: 25px;
      color:#9FDF59;
      border:none;

}
.subscribe-button a.remove {
    background: transparent !important;
    color: #427080;
    font-weight: normal;
    border: 0px solid #427080;
    border-radius: 25px;

}
.subscribe-button a.active {
    display: block !important;

}
.side .subscribers {
    color: #eee;
    font-size: 15px;
    font-family: Helvetica, sans-serif;
    padding: 8px 0;
    display: block;
    margin-top: 0px;
    letter-spacing: .5px;
}
.subscribers .word, .users-online .word{
display:none;
}
.subscribers .number:after { 
content: " fucked up by subscribing"
}
.users-online .number:after { 
content: " currently fucking up" ;
color: #fdfdfd;
}
.side .users-online {
    color: #fff;
    font-size: 14px;
    font-family: Helvetica, sans-serif;
    margin-bottom: 15px;
    display: block;
}
.side .users-online:before {
    background: #72D280;
    border-radius: 10px;
    width: 10px;
    height: 10px;
}
.sidecontentbox h1 {
    background: transparent;
    color: #eee;
}
.sidecontentbox h1:before {
    content: none !important;
}
.sidecontentbox a {
    color: #eee;
    background: transparent;
}
.side del {
    color: #ccc !important;
}
.sidebox.create {
    display: none;
}
#progressIndicator {
    width: auto !important;
    border-radius: 0 !important;
    border: none !important;
}
.hover-bubble {
    z-index: 999999;
}
.flair {
    z-index: 99999;
    min-width: 14px;
    max-width: 14px;
    height: 14px;
    line-height: 14px;
    border-radius: 14px;
    border: none;
    overflow: hidden;
    padding: 0;
    vertical-align: middle;
    font-size: 11px !important;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    position: relative;
    text-indent: 12px;
}

/* User */

.flair:hover {
    max-width: 500px;
    padding: 0 5px;
    color: #fff
}
.flair-blue {
    background: #65a4ed;
    color: #65a4ed
}
.flair-red {
    background: #dd7680;
    color: #dd7680
}
.flair-yellow {
    background: #edc365;
    color: #edc365
}
.flair-grey {
    background: #999;
    color: #999
}
.flair-black {
    background: #272822;
    color: #272822
}
.flair-green {
    background: #4fc761;
    color: #4fc761
}
.flair-pink {
    background: #FFC0EB;
    color: #FFC0EB;
}
.flair-magenta {
    background: #ff7cff;
    color: #ff7cff;
}
.flair-orange {
    background: #ffb263;
    color: #ffb263;
}
.flair-purple {
    background: #a876ff;
    color: #a876ff;
}
.flair-turquoise {
    background: #4ec6c6;
    color: #4ec6c6;
}
.flair-rainbow {
    color: #fff;
    background: #ff0;
    background-image: -webkit-linear-gradient(left, red, orange, yellow, green, blue, indigo, violet);
    background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
}
.flair-mod {
    background: #638BE4;
    color: #638BE4;
    text-indent: 12px;
}
.flair-mod-purple {
    background: #a876ff;
    color: #a876ff;
    text-indent: 12px;
}
.flair-mod:before, .flair-mod-purple:before {
        content: "m";
    color: #FDFDFD;
  width: 14px;
  height: 13px;
  display: block;
  position: absolute;
  text-align: center;
  left: 0;
  top: 0px;
  text-indent: 0;
  font-size: 6px;
}
.flair-ircmod {
    background: #dd7680;
    color: #dd7680;
    text-indent: 13px;
}
.flair-ircmod:before {
    content: "i";
    color: white;
    width: 14px;
    height: 16px;
    display: inline-block;
    position: absolute;
    left: 0px;
    text-align: center;
    top: -1px;
    text-indent: 0;
    font-size: 10px;
}
.flair-ircmod2 {
    background: #a876ff;
    color: #a876ff;
    text-indent: 13px;
}
.flair-ircmod2:before {
    content: "i";
    color: white;
    width: 14px;
    height: 16px;
    display: inline-block;
    position: absolute;
    left: 0px;
    text-align: center;
    top: -1px;
    text-indent: 0;
    font-size: 10px;
}
.flair-petal {
    background: RGBA(31,32,35,1);
    color: RGBA(31,32,35,1);
    text-indent: 13px;
}
.flair-petal:before {
      content: " m";
    color: RGBA(253,253,253,1);
  width: 14px;
  height: 13px;
  display: block;
  position: absolute;
  text-align: center;
  left: 0;
  top: 0px;
  text-indent: 0;
  font-size: 6px;
}
.flair-mod2 {
    background: #4fc761;
    color: #4fc761;
    text-indent: 13px;
}
.flair-mod2:before {
      content: "m";
    color: #FDFDFD;
  width: 14px;
  height: 13px;
  display: block;
  position: absolute;
  text-align: center;
  left: 0;
  top: 0px;
  text-indent: 0;
  font-size: 6px;
}

/* random special user flairs */

.flair-skittle {
    background: #4fc761;
    color: #4fc761;
    text-indent: 13px;
}
.flair-skittle:before {
    content: "s";
    color: white;
  width: 13px;
  height: 13px;
  display: block;
  position: absolute;
  text-align: center;
  left: 0;
  top: -1px;
  text-indent: 0;
  font-size: 10px;
}
.flair-bar {
    background: #4fc761;
    color: #4fc761;
    text-indent: 13px;
}
.flair-bar:before {
    content: "▮";
    color: white;
  width: 13px;
  height: 13px;
  display: block;
  position: absolute;
  text-align: center;
  left: 0;
  top: -1px;
  text-indent: 0;
  font-size: 10px;
}
.flair-sheriff {
    background: #D4AF37;
    color: #D4AF37;
    text-indent: 12px;
    box-shadow: 0 0 12px 1px rgba(234, 206, 114, 0.7);
    -moz-box-shadow: 0 0 12px 1px rgba(234, 206, 114, 0.7);
    -webkit-box-shadow: 0 0 12px 1px rgba(234, 206, 114, 0.7);
}
.sidecontentbox .flair-sheriff, .flair-sheriff:hover {
    box-shadow: none !important;
}
.flair-sheriff:before {
  content: "★";
  color: #996515;
  width: 13px;
  height: 13px;
  display: block;
  position: absolute;
  text-align: center;
  left: 0;
  top: -1px;
  text-indent: 0;
  font-size: 10px;
}

.flair-zombs {
    background: #01A2A6;
    color: #01A2A6;
    text-indent: 12px;
    /*box-shadow: 0 0 12px 1px rgba(142, 101, 214, 0.4);*/
    /*-moz-box-shadow: 0 0 12px 1px rgba(142, 101, 214, 0.4);*/
    /*-webkit-box-shadow: 0 0 12px 1px rgba(142, 101, 214, 0.4);*/
}
.flair-zombs:hover {
    box-shadow: none;
}
.flair-zombs:before {
  content: "★";
  color: #055b5d;
  width: 13px;
  height: 13px;
  display: block;
  position: absolute;
  text-align: center;
  left: 0;
  top: -1px;
  text-indent: 0;
  font-size: 10px;
}

.flair-snoop {
    background: #54af54;
    color: #54af54;
    text-indent: 12px;
    box-shadow: 0 0 12px 1px rgba(84, 175, 84, 0.4);
    -moz-box-shadow: 0 0 12px 1px rgba(84, 175, 84, 0.4);
    -webkit-box-shadow: 0 0 12px 1px rgba(84, 175, 84, 0.4);
}
.flair-snoop:hover {
    box-shadow: none;
}
.flair-snoop:before {
  content: "★";
  color: #185818;
  width: 13px;
  height: 13px;
  display: block;
  position: absolute;
  text-align: center;
  left: 0;
  top: -1px;
  text-indent: 0;
  font-size: 10px;
}

.flair-noodle {
    background: #0B6121;
    color: #0B6121;
    text-indent: 13px;
}
.flair-noodle:before {
    content: "♛";
    color: white;
  width: 13px;
  height: 13px;
  display: block;
  position: absolute;
  text-align: center;
  left: 0;
  top: -1px;
  text-indent: 0;
  font-size: 10px;
}

button {
    border-radius: 0;
    border: none;
    color: #fff;
    background: #638BE4;
    padding: 4px 8px;
    font-size: 12px;
    margin:2px;
}

.linkflairlabel {
    /*min-width: 50px;*/
    background: #999;
    text-align: center;
    font-size: 12px;
    color: #fff !important;
    padding: 2px !important;
    border: none !important;
    opacity: 0.8;
    vertical-align: middle;
    border-radius: 2px !important;
}
.sidecontentbox .score {
    color: #aaa !important;
}
.sidecontentbox .linkflairlabel {
    padding-left: 4px !important;
}




/*CSS3 sticky comments by /u/creesch */

.comments-page .sitetable.nestedlisting {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;    
}

.comments-page .sitetable.nestedlisting>.thing.id-t1_addcommentidhere,
.comments-page .sitetable.nestedlisting>.thing.id-t1_addcommentidhere,
.comments-page .sitetable.nestedlisting>.thing.id-t1_addcommentidhere,
.comments-page .sitetable.nestedlisting>.thing.id-t1_addcommentidhere,
{
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
    border: solid 1px green !important;
    background-color: #E9F4E4 !important;
    margin-bottom: 10px;
    padding-top: 8px;
}
/* SUBMIT PAGE */

.submit .gray {
    content: " " !important;
    font-size: 0px;
}
.submit span.gray:after {
    content: "(mandatory)"!important;
    font-size: large;
    color: #808080;
}
#reddit-field {
    display: none
}
.roundfield {
    width: 500px;
    background-color: #e2e2e2;
    padding: 5px 10px 10px 10px;
    font-size: large
}
#newlink .infobar {
    background-color: transparent;
    padding: 0;
    margin: 0;
    font-size: 0;
    border: 0;
    text-indent: -14270800px;
    position: absolute;
    left: 5px;
    right: 5px;
    top: 78px;
}
#newlink .infobar:after {
    text-indent: 0;
    background-color: #427080;
    color: white !important;
    padding: 10px;
    font-size: 12pt;
    display: block;
    margin-top: 5px
}
.content > .infobar:first-child {
    margin-left: 8px;
    position: relative;
    top: 0px;
}
.wiki-page .wiki-page-content {
    margin-right: 15px;
}
.wiki-page .infobar{
    top:0px !important;
    position: relative;
}
.submit-page .infobar {
    top:-5px !important;
    position: relative;
    width:100%;
    left: 0px !important;
}
#text-desc:after,
#link-desc:after {
    content: "Please read our rules before posting, posts that don't follow the rules will be removed. — If your thread has 2000+ characters, please include a TL;DR."
}

.submit-page .formtabs-content {
    padding-top: 40px;
}
.submit-page ul.tabmenu.formtab {
  display: inline-table;
  /* padding-left: 10px; */
  font-size: larger;
  position: absolute;
  top: -30px;
  /* z-index: 99; */
  padding: 0px !important;
  left: 0px;
  padding-top: 0px !important;
  text-align: bottom !important;
}
.searchpane {
    margin: 0;
    border: none;
}
.drop-choices {
    background: #fff;
    border: 1px solid #1c323b;
}
.srdrop span {
    color: #eee !important;
}
.drop-choices a.choice {
    color: #333 !important;
}
.drop-choices a.choice:hover {
    color: #638BE4 !important;
    background: transparent;
}

/* Spoilers */
a[href$="/s"],
a[href$="/spoiler"],
a[href$="/spoilers"]{
    background: #72D280 !important;
    color: #72D280 !important;
    }
a[href$="/s"]:hover,
a[href$="/spoiler"]:hover,
a[href$="/spoilers"]:hover{
    color: #427080 !important;
    cursor: default;
    }
a[href$="#s"],
a[href$="#spoiler"],
a[href$="#spoilers"]{
    background: #72D280 !important;
    color: #72D280 !important;
    }
a[href$="#s"]:hover,
a[href$="#spoiler"]:hover,
a[href$="#spoilers"]:hover{
    color: #427080 !important;
    cursor: default;
    }
/*add spoilers to nsfw*/
.nsfw-stamp acronym {
    display:none!important;
}
.nsfw-stamp {
    border:0px solid #dd7680!important;
    text-transform: uppercase;
}
.nsfw-stamp:after {
    content: "NSFW/Sex/Bodily Discharge";
    color: #fff!important;
    padding:2px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    cursor: default !important;
    font-weight:bold;
    background-color:#dd7680!important;
}
.marknsfw-button > span.option:not(.error) > a, 
.unmarknsfw-button > span.option:not(.error) > a {
    font-size: 0;
}
.marknsfw-button > span.option:not(.error) > a:after,
.unmarknsfw-button > span.option:not(.error) > a:after {
    font-size: 10px;
}
.unmarknsfw-button > span.option:not(.error) > a:after {
    content: "un-nsfw";
}
.marknsfw-button > span.option:not(.error) > a:after {
    content: "nsfw";
}
/*end nsfw/spoiler*/

/*NIGHTMODE*/
html:lang(nm) body>.content {
    background: #427080
;
    border: 1px solid #427080;
    }
html:lang(nm) .tabmenu,
html:lang(nm) .side .usertext-body h3:first-of-type{
    background-color: #2C4E62;
}
html:lang(nm) .link a.title, 
html:lang(nm) .link,
html:lang(nm) .comment .md p > a:visited,
html:lang(nm) .md a{
    color: #ADD8E6;
}
html:lang(nm) .link a.title:visited{
    color: #ddd;
}
html:lang(nm) .link {
    border-top: 1px solid #82AFBE !important;
}
html:lang(nm) .md {
    color: #ddd;
}
html:lang(nm) .thing.stickied a.title{
    color:#4fc761!important;
}
html:lang(nm) textarea {
    background-color: #538DA0;
    color: #ddd;
}
html:lang(nm) code {
    border: 1px solid #eeeed2;
    background: transparent !important;
    border-radius: 2px;
}
html:lang(nm) .link .usertext .md {
  color: #ddd;
  background-color:#538DA0;
}
html:lang(nm) .md blockquote {
    background-color: #415F71;
    color: #ddd;
}
html:lang(nm) .side .md blockquote {
    background-color: #427080
;
    color: #ddd;
}
html:lang(nm) .side .md > blockquote:nth-of-type(2),
html:lang(nm) .side .md>blockquote:nth-of-type(3){
background-color: transparent;
}

html:lang(nm) #search input[type="text"] {
        background-color: #538DA0;
}
html:lang(nm) .side .tagline ,
html:lang(nm) .side form.flairtoggle { 
    background-color: #538DA0;
}
html:lang(nm) .side .tagline a,
html:lang(nm) .side form.flairtoggle a { 
    color:#fff ;
}

html:lang(nm) .link .entry .expando-button.selftext.collapsed {
    background-position: -40px -38px !important
    }
html:lang(nm) .link .entry .expando-button.selftext.collapsed:hover {
    background-position: -60px -38px !important
    }
html:lang(nm) .link .entry .expando-button.selftext.expanded {
    background-position: -40px -58px !important
    }
html:lang(nm) .link .entry .expando-button.selftext.expanded:hover {
    background-position: -60px -58px !important
    }
html:lang(nm) .link .entry .expando-button.video.collapsed, 
html:lang(nm) .link .entry .expando-button.video.expanded {
    background-position: -40px -78px !important
    }
html:lang(nm) .link .entry .expando-button.video.collapsed:hover,
html:lang(nm) .link .entry .expando-button.video.expanded:hover {
    background-position: -60px -78px !important
    }
html:lang(nm) .res .link .entry .expando-button.image.collapsedExpando, 
html:lang(nm) .res .link .entry .expando-button.image.expanded {
    background-position: -40px -98px !important
    }
html:lang(nm) .res .link .entry .expando-button.image.collapsedExpando:hover, 
html:lang(nm) .res .link .entry .expando-button.image.expanded:hover {
    background-position: -60px -98px !important
    }
/*comments (nm)*/
html:lang(nm) .comment.spam > .child, 
html:lang(nm) .message.spam > .child {
    background-color: inherit !important;
}
html:lang(nm) div.comment, 
html:lang(nm) .res-commentBoxes div.comment {
    background-color: #427080
 !important;
    }
html:lang(nm) div.child .comment, 
html:lang(nm) .res-commentBoxes div.child .comment {
    background-color: #14242D !important;
    }
html:lang(nm) div.child .comment .comment, 
html:lang(nm) .res-commentBoxes div.child .comment .comment {
    background-color: #427080
 !important;
    }
html:lang(nm) div.child .comment .comment .comment, 
html:lang(nm) div.child .comment .comment .comment .comment .comment, 
html:lang(nm) div.child .comment .comment .comment .comment .comment .comment .comment,
html:lang(nm) div.child .comment .comment .comment .comment .comment .comment .comment .comment .comment, 
html:lang(nm) .res-commentBoxes div.child .comment .comment .comment, 
html:lang(nm) .res-commentBoxes div.child .comment .comment .comment .comment .comment, 
html:lang(nm) .res-commentBoxes div.child .comment .comment .comment .comment .comment .comment .comment, 
html:lang(nm) .res-commentBoxes div.child .comment .comment .comment .comment .comment .comment .comment .comment .comment {
    background-color: #14242D !important;
    }
html:lang(nm) div.child .comment .comment .comment .comment, 
html:lang(nm) div.child .comment .comment .comment .comment .comment .comment, 
html:lang(nm) div.child .comment .comment .comment .comment .comment .comment .comment .comment, 
html:lang(nm) div.child .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment,
html:lang(nm) .res-commentBoxes div.child .comment .comment .comment .comment, 
html:lang(nm) .res-commentBoxes div.child .comment .comment .comment .comment .comment .comment, 
html:lang(nm) .res-commentBoxes div.child .comment .comment .comment .comment .comment .comment .comment .comment, 
html:lang(nm) .res-commentBoxes div.child .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment {
    background-color: #427080
 !important;
    }
html:lang(nm) .res-commentBoxes.res-commentBoxes-rounded .comment,
html:lang(nm) .res-commentBoxes .comment{
    border:1px solid #427080 !important;
}
html:lang(nm) .res .commentarea .RES-keyNav-activeElement .md,
html:lang(nm) .RES-keyNav-activeElement ,
html:lang(nm) .res .commentarea .RES-keyNav-activeElement.entry .noncollapsed {
    background: transparent!important;
}
html:lang(nm) .new-comment .usertext-body {
    background-color: #2C4E62 !important;
    border: 1px solid #555 ;
}
html:lang(nm) .md del {
    color:black;
}
/*END NIGHTMODE*/
/*LENGTH FLAIR
**************/
.linkflairlabel {
    padding: 4px;
}

.linkflair-S .linkflairlabel {
  border: 0px solid #336699;
  background-color: #65a4ed;
  color:#fff;
  font-weight:bold;
}
.linkflair-M .linkflairlabel {
  border: 0px solid #C89C00;
  background-color: #edc365;
  color:#fff;
  font-weight:bold;
}
.linkflair-L .linkflairlabel {
  border: 0px solid #ffb263;
  background-color: #ffb263;
  color:#fff;
  font-weight:bold;
}
.linkflair-XL .linkflairlabel {
  border: 0px solid darkred;
  background-color: #800000;
  color:#fff;
  font-weight:bold;
  letter-spacing: 2px;
}
.linkflair-mod .linkflairlabel {
  border: 0px solid darkgreen;
  background-color: #4fc761 ;
  color:#fff;
  font-weight:bold;
}
body:not(.moderator) .flairoptionpane .linkflair-mod { 
  display: none; 
}
.linkflair-misc .linkflairlabel {
  border: 0px solid gray;
  background-color: lightgray;
  color:gray;
  font-weight:bold;
}

.side a[href$="flair%3AS"] {
  border: 0px solid #336699;
  background-color: #65a4ed;
  color:#fff;
  padding:1px;
  border-radius:2px;
  font-weight:bold;
  opacity: .8;
}
.side a[href$="flair%3AM"] {
  border: 0px solid #C89C00;
  background-color: #edc365;
  color:#fff;
  padding:1px;
  border-radius:2px;
  font-weight:bold;
  opacity: .8;
}
.side a[href$="flair%3AL"] {
  border: 0px solid #ffb263;
  background-color: #ffb263;
  color:#fff;
  padding:1px;
  border-radius:2px;
  font-weight:bold;
  opacity: .8;
}
.side a[href$="flair%3AXL"] {
  border: 0px solid darkred;
  background-color: #800000;
  color:#fff;
  padding:1px;
  border-radius:2px;
  font-weight:bold;
  opacity: .8;
}
.side a[href$="flair%3AMod%2BPost"] {
  border: 0px solid darkgreen;
  background-color: #4fc761 ;
  color:#fff;
  padding:1px;
  border-radius:2px;
  font-weight:bold;
  opacity: .8;
}
.side a[href$="/r/tifu/#none"] {
  border: 0px solid gray;
  background-color: lightgray;
  color:#fff;
  padding:1px;
  border-radius:2px;
  font-weight:bold;
  opacity: .7;
}
.side a[href$="/r/tifu/search?q=nsfw%3Ayes&restrict_sr=on&sort=top&t=month"] {
  border: 0px solid gray;
  background-color: #dd7680;
  color:#fff;
  padding:1px;
  border-radius:2px;
  font-weight:bold;
  opacity: .7;
  display:inline-block;
  width:46%;
  text-align:center;
}
.side a[href$="/r/tifu/search?q=nsfw%3Ano&restrict_sr=on&sort=top&t=month"] {
  border: 0px solid gray;
  background-color: #fff;
  color:#dd7680;
  padding:1px;
  border-radius:2px;
  font-weight:bold;
  opacity: .7;
  display:inline-block;
  width:46%;
  text-align:center;
}

.side a[href$="flair%3AS"],
.side a[href$="flair%3AM"],
.side a[href$="flair%3AL"],
.side a[href$="flair%3AXL"],
.side a[href$="flair%3AMod%2BPost"],
.side a[href$="/r/tifu/#none"],
.side a[href$="/r/tifu/search?q=nsfw%3Ayes&restrict_sr=on&sort=top&t=month"],
.side a[href$="/r/tifu/search?q=nsfw%3Ano&restrict_sr=on&sort=top&t=month"] {
    padding: 4px;
}
.side a[href$="flair%3AS"]:hover,
.side a[href$="flair%3AM"]:hover,
.side a[href$="flair%3AL"]:hover,
.side a[href$="flair%3AXL"]:hover,
.side a[href$="flair%3AMod%2BPost"]:hover,
.side a[href$="/r/tifu/#none"]:hover,
.side a[href$="/r/tifu/search?q=nsfw%3Ayes&restrict_sr=on&sort=top&t=month"]:hover,
.side a[href$="/r/tifu/search?q=nsfw%3Ano&restrict_sr=on&sort=top&t=month"]:hover {
  opacity: 1;
  transition:  .3s ease-in;
  -moz-transition:  .3s ease-in;
  -webkit-transition:  .3s ease-in;
  border:1px solid transparent;
}
/* Menu colours and info bars for tags */

body.post-linkflair-S > .content:before,
body.post-linkflair-M > .content:before,
body.post-linkflair-L > .content:before,
body.post-linkflair-XL > .content:before,
body.post-linkflair-removed > .content:before {
    display: block;
    color: rgba(255, 255, 255, 0.8);
    padding: 0 8px 0 13px;
    font-family: Helvetica, sans-serif;
    font-size: 14px;
    height: 32px;
    line-height: 32px;
}

body.post-linkflair-XL .tabmenu {
    background: #800000;
}
body.post-linkflair-mod .tabmenu {
    background: #4fc761;
}

body.post-linkflair-L .tabmenu{
    background: #ffb263;
}

body.post-linkflair-S .tabmenu {
    background: #65a4ed;
}

body.post-linkflair-M .tabmenu {
    background: #edc365;
}
/*end link flair*/
.titlebox form.flairtoggle {
 display:none;
}
.titlebox .tagline {
  /* margin: 5px 0 5px 20px; */
  padding-bottom: 4px;
}
/***************************Inidicates if a thread is posted on the weekend 
curtosy of /u/Silberklinge http://www.reddit.com/message/messages/3nnjat 
.thing .tagline time[title^="Fri"][title*=" 12:"]:after,
.thing .tagline time[title^="Fri"][title*=" 13:"]:after,
.thing .tagline time[title^="Fri"][title*=" 14:"]:after,
.thing .tagline time[title^="Fri"][title*=" 15:"]:after,
.thing .tagline time[title^="Fri"][title*=" 16:"]:after,
.thing .tagline time[title^="Fri"][title*=" 17:"]:after,
.thing .tagline time[title^="Fri"][title*=" 18:"]:after,
.thing .tagline time[title^="Fri"][title*=" 19:"]:after,
.thing .tagline time[title^="Fri"][title*=" 20:"]:after,
.thing .tagline time[title^="Fri"][title*=" 21:"]:after,
.thing .tagline time[title^="Fri"][title*=" 22:"]:after,
.thing .tagline time[title^="Fri"][title*=" 23:"]:after,
.thing .tagline time[title^="Sat"]:after,
.thing .tagline time[title^="Sun"]:after,
.thing .tagline time[title^="Mon"][title*=" 00:"]:after,
.thing .tagline time[title^="Mon"][title*=" 01:"]:after,
.thing .tagline time[title^="Mon"][title*=" 02:"]:after,
.thing .tagline time[title^="Mon"][title*=" 03:"]:after,
.thing .tagline time[title^="Mon"][title*=" 04:"]:after,
.thing .tagline time[title^="Mon"][title*=" 05:"]:after,
.thing .tagline time[title^="Mon"][title*=" 06:"]:after,
.thing .tagline time[title^="Mon"][title*=" 07:"]:after,
.thing .tagline time[title^="Mon"][title*=" 08:"]:after,
.thing .tagline time[title^="Mon"][title*=" 09:"]:after {
color: #dd7680;
content: " >";
font-weight:bold;
}
*/


.thing.stickied {
    background-color: #FFEBCC !important;
}