@import "./flags.scss";

$version: "0.0.1";

$sprite-url: "http://localhost:5000/img/sprite.png";
$header-url: "https://hips.hearstapps.com/housebeautiful.cdnds.net/16/49/1481114715-close-up-ornaments-and-string-lights-on-christmas-tree.jpg";
// $sprite-url: "%%sprite%%";

// NOT nightmode coming up!
// If nightmode is enabled, some/all of these will be overwitten.

// Main UI component backgrounds
// $main-back: #96e217;
// $main-back: #d2d5de;
// $main-back: #BEEEEF;
// $main-back: #9ac9ec;
// $main-back: #a9ec9a;
$main-back: #ce1f1f;
$body-back: #ebf0f3; // #f1f5f7;
$card-back: white;
$header-back: white;	// This is the subreddit bar background

// Colors
$main-col: #4c4c4c;
$soft-col: #757575;
$highlight-col: #0072ef;	// AA contrast satisfactory on white
$secondary-highlight-col: #0c87f1;
$a-col: #0664b3;
$soft-col-lighter: #a2a2a2;
// $main-back-overlay-col: rgba(0, 0, 0, 0.6);
$main-back-overlay-col: rgba(255, 255, 255, 0.9);
$menu-col: #369;
$alert-col: #ff4207;
$alert-col-mild: #ff6130;
$throbber-col: #5695c7;
$header-overlay-text-col: white;

// Modal shadows
$modal-shadow-back: rgba(10, 40, 60, 0.62);
$modal-shadow-back-no-opacity: rgb(10, 40, 60);
$modal-shadow: 0 0 0 2000px $modal-shadow-back;
$modal-shadow-with-sr-header: 0 1996px 0 2000px $modal-shadow-back;
$modal-shadow-with-sr-header-no-opacity: 0 1996px 0 2000px $modal-shadow-back-no-opacity;
$modal-shadow-with-sr-header-flush: 0 2000px 0 2000px $modal-shadow-back;
$modal-drop-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);

// Pop backgrounds and colors (pop b&c are meant to pop out from the background)
$pop-back: #f7fafb; // $body-back;
$pop-back-mod: #edf3f5; // #ebf0f1;
$pop-back-lighter: #fcfeff;
$pop-back-slightly-lighter: #fafcfc;
$pop-back-vv-slightly-darker: #f1f6f9; // #f1f5f7; // #c8d4d8;
$pop-back-slightly-darker: #dbe7ea; // #c8d4d8;
$pop-back-darker: #b8c2c5;
$pop-col: #4e5556;
$pop-col-lighter: #637375;
$pop-col-more-light: #707d80;
$pop-col-v-light: #879a9c;
$pop-col-hued: #567d82;

$hover-mod: rgba(132, 144, 148, 0.05); // rgba(99, 119, 125, 0.2);

// Subdued buttons
$subdued-btn-back: #dfecf3;
$subdued-btn-back-mod: #d6e6ef;
$subdued-btn-col: #373758;

// Gold specific
$gold-col: #ffd000;
$spam-overlay: rgba(255, 44, 0, 0.15);

// Flairs
$flair-small: #2b87f3;
$flair-medium: #ffbc00; // #f9d60e;
$flair-large: #fd7f09; // #fdaa22;
$flair-xlarge: #ce2c2c;

// Report buttons
$reports-col: #ffe676;
$negative-col: #f7a38f;
$neutral-col: #ced9dc;
$positive-col: #a8e280;
$pressed-col: $pop-col-lighter;

// Info b&c
$info-shade: #c6e5ff;
$info-col: #0653af;
$info-locked: $flair-medium;

// Font sizes
$btn-font-size: 11px;

$pretty-blue-i-really-like: #166dd4;

@if ($nightmode){
	// Main UI component backgrounds
	$main-back: #3071b3; // #177ce2
	$body-back: #2f2f2f; // #f1f5f7;
	$card-back: #424242;
	$header-back: #3c3c3c;	// This is the subreddit bar background

	// Colors
	$main-col: #fff;
	$soft-col: #eee;
	$highlight-col: #72b4ff;	// AA contrast satisfactory on $card-back
	$secondary-highlight-col: #0c87f1;
	$a-col: $highlight-col;
	$soft-col-lighter: #a2a2a2;
	$main-back-overlay-col: rgba(255, 255, 255, 0.95);
	$menu-col: $highlight-col;
	$alert-col: #ff4207;
	$alert-col-mild: #ff6130;
	$throbber-col: #5695c7;

	// Modal shadows
	$modal-shadow-back: rgba(10, 40, 60, 0.62);
	$modal-shadow-back-no-opacity: rgb(10, 40, 60);
	$modal-shadow: 0 0 0 2000px $modal-shadow-back;
	$modal-shadow-with-sr-header: 0 1996px 0 2000px $modal-shadow-back;
	$modal-shadow-with-sr-header-no-opacity: 0 1996px 0 2000px $modal-shadow-back-no-opacity;
	$modal-shadow-with-sr-header-flush: 0 2000px 0 2000px $modal-shadow-back;
	$modal-drop-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);

	// Pop backgrounds and colors (pop b&c are meant to pop out from the background)
	$pop-back: #3a3838; // $body-back;
	$pop-back-mod: #4a4a4a; // #ebf0f1;
	$pop-back-lighter: #5f5d5d;
	$pop-back-slightly-lighter: #3a3838;
	$pop-back-vv-slightly-darker: #313133; // #f1f5f7; // #c8d4d8;
	$pop-back-slightly-darker: #5b626d; // #c8d4d8;
	$pop-back-darker: #6c7c7d;
	$pop-col: #fff;
	$pop-col-lighter: #eee;
	$pop-col-more-light: #dadada;
	$pop-col-v-light: #5d6667;
	$pop-col-hued: #fff;

	// Subdued buttons
	$subdued-btn-back: #dfecf3;
	$subdued-btn-back-mod: #d6e6ef;
	$subdued-btn-col: #373758;

	// Report buttons
	$reports-col: #ffe676;
	$negative-col: #f7a38f;
	$neutral-col: #ced9dc;
	$positive-col: #a8e280;
	$pressed-col: $pop-col-lighter;

	// Info b&c
	$info-shade: #c6e5ff;
	$info-col: #0653af;
	$info-locked: $flair-medium;

	// Font sizes
	$btn-font-size: 11px;

	$pretty-blue-i-really-like: #166dd4;
}

// Gaps widths and radii
$side-gap: 20px;
$sidebar-width: 290px;
$sidebar-padding: 10px;
$sidebar-main-gap: 15px;
$mini-gap: 15px;
$sidebar-inner-width: $sidebar-width - 2 * $sidebar-padding;
$small-border-radius: 2px;
$master-border-radius: 3px;
$sr-header-height: 22px;
$header-base-height: 170px;
$header-slice-height: 50px;
$non-main-width: $side-gap * 2 + $sidebar-width + $sidebar-main-gap;

// Text
$scroll-overflow-msg: "hello there";
$login: "log into reddit";
$sub-name: "TIFU";
$subscriber-text: "subscribers";
$online-text: "here now";
$settings-text: "Settings";
$res-use-style: "Use subreddit style";
$you-are-mod: "You are a moderator of this subreddit";
$approved-sub-text: "You can post to this subreddit";
$use-theme: "Show this subreddit's theme";
$show-flair: "Show my flair on this subreddit";
$post-karma: "post karma";
$comment-karma: "comment karma";
$res-prefs: "RES prefs";
$ago-text: "ago";
$approved-msg: "✓";
$checkbox-checked-icon: "✕";
$prev-page: "previous page";
$next-page: "next page";
$required: "required";
$optional: "optional";
$you-type: "you type";
$you-see: "you see";
$ellipsis: "•••";
$temporarily: "temporarily?";
$cross-icon: $checkbox-checked-icon;
$subreddit-settings: "subreddit settings";
$traffic-stats: "traffic statistics";
$flair-settings: "flair settings";
$credit: "r/vykort by u/PicturElements  |  v" $version;
$toolbox-select-msg: "Select which submissions to select";

$small-text: "smol fucker wucker";
$medium-text: "h*ckin medium fucky wucky";
$large-text: "big ol' fucky wucky";
$xlarge-text: "vvv bige fucko wucko";

$tb-history-disclaimer: "Disclaimer:";
$tb-history-disclaimer-text: "The information shown above is an indication not a complete picture, it lacks the context you would get from having a look at a person's profile.";

// Dropdowns
$dropdown-font-size: 12px;
$dropdown-padding-tb: 4px;
$dropdown-padding-lr: 6px;

@mixin std-outline {
	box-shadow: 0 0 0 2px $main-back;
}

@mixin std-input-outline {
	box-shadow: inset 0 -1px $main-back, 0 1px $main-back;
}

@mixin cond-style($flags...) {
	$out-flag: true;

	@each $flag in $flags {
		@if not $flag {
			$out-flag: false;
		}
	}
			
	@if $out-flag {
		@content;
	}
}

@mixin standard-btn {
	color: $main-back-overlay-col;
	background: $main-back;
	border: none;
	box-shadow: inset 0 -2px rgba(0, 0, 0, 0.1);
	padding: 0 14px;
	border-radius: $small-border-radius;
	font-family: inherit;
	letter-spacing: 0.02em;
	font-weight: bold;
	font-size: $btn-font-size;
}

@mixin secondary-btn {
	height: 26px;
	line-height: 26px;
	padding: 0 14px;
	margin: 0;
	border: none;
	background: $pop-back;
	color: $pop-col;
	// color: $main-back-overlay-col;
	border-radius: $small-border-radius;
	box-shadow: inset 0 -2px rgba(0, 0, 0, 0.05);

	&:hover {
		background: $pop-back-mod;
	}
}

@mixin dropdown {
	color: $pop-col;
	border-radius: $master-border-radius;
	padding: 0;
	border: none;
	background: $card-back;
	box-shadow: $modal-drop-shadow;
	z-index: 10000;

	li {
		line-height: 30px;
		border-color: rgba(150,150,150,0.1);;
	}

	li:last-child {
		border: none;
		opacity: 1;
	}

	li,
	a {
		color: $menu-col;
		font-weight: bold;
		font-size: 11px;
	
		&:hover {
			background: $pop-back !important;
			text-decoration: none;
		}
	}
}

@mixin sub-node-disc($col: $card-back, $important: false) {
	@if ($important){
		box-shadow: 0 0 0 1000px $col !important;
	}

	@else {
		box-shadow: 0 0 0 1000px $col;
	}	
}

@mixin placeholder($selector: "&") {
	#{$selector}::-webkit-input-placeholder {
		@content;
	}

	#{$selector}::-moz-placeholder {
		@content;
	}

	#{$selector}:-ms-input-placeholder {
		@content;
	}

	#{$selector}:-moz-placeholder {
		@content;
	}
}