@import "utils.scss";

$inner-width: $sidebar-width - $sidebar-padding * 2;

.infobar.listingsignupbar {
	margin: 2px 10px 7px !important;
	padding: 0 !important;
	overflow: visible;
}

.comments-page .infobar.listingsignupbar {
	margin-top: 10px !important;
}

.infobar.listingsignupbar:before {
	content: "" !important;
	display: block;
	position: absolute;
	width: 100% !important;
	height: 100% !important;
	top: -10px !important;
	left: -10px !important;
	margin: 0 !important;
	border: 10px solid $card-back !important;
	border-radius: 0 $master-border-radius 0 0 !important;
	background: transparent !important;
	box-shadow: none;
}

.ad-container {
	width: $inner-width;
	margin: -12px $sidebar-padding;
}

.ad-container > * {
	transform-origin: 0 50%;
	transform: scale($inner-width / 300px);
}

.login-form-side {
	position: relative;
	margin: $sidebar-padding;
	background: $pop-back;
	border: none;
	padding-top: 22px;

	&:before {
		content: $login;
		position: absolute;
		top: 8px;
		left: 8px;
		color: $pop-col;
		text-transform: uppercase;
		font-size: 12px;
		font-weight: bold;
	}

	input[type=text],
	input[type=password] {
		margin: 8px 8px 0 8px;
		width: $inner-width - 16px;
		border: 1px solid $pop-back-slightly-darker;
		border-radius: $small-border-radius;
		background: $card-back;
	}

	#remember-me {
		margin: 8px;
	}

	.submit {
		margin: 8px !important;
	}
}

.lang-modal {
	.modal-content {
		width: 380px;
		padding-top: 20px;
		margin: auto;
	}

	.modal-body {
		padding: 20px;
	}

	.details {
		display: block;
		text-align: right;
		margin: 5px !important;
	}
}

.content .spacer {
	margin: 0;
}

#siteTable_organic {
	margin: 0 !important;
	background: transparent !important;
	overflow: visible;
	border: none;

	.link + .clearleft:last-child {
		margin-bottom: 4px;
	}
}

.link.promotedlink {
	background: transparent !important;
	padding: 0 !important;
	box-sizing: border-box;
	overflow: visible !important;
	min-height: 50px;
}

.sponsored-indicator.rank img {
	width: 9px;
	height: 9px;
	vertical-align: -1px;
}

body:not(.loggedin) .user {
	font-size: 12px;
	padding: 0 11px;
	border-radius: $small-border-radius;
	background: $card-back;
	color: $pop-col;
	text-align: center;
	box-sizing: border-box;
	min-width: $sidebar-width - 40px;
	cursor: default;

	> a {
		display: inline-block;
	}
}

.reddit-infobar {
	border-radius: 3px;
	border: none;
	background: $pop-back;
	box-shadow: $modal-drop-shadow;

	&.with-btn {
		padding-right: 90px;
	}

	&:before {
		background-color: $highlight-col !important;
	}

	p {
		margin: 0 !important;
		line-height: 25px !important;
	}

	.c-btn-primary {
		height: 30px;
	}
}

.tfa-login-modal-backdrop {
	z-index: 9999;
}

.infobar.commentsignupbar {
	margin: 10px !important;
	display: block !important;
	padding: 8px 12px !important;
}

.commentsignupbar:before {
	display: none !important;
}

.commentsignupbar__container {
	background: transparent;
	padding: 4px 0;
	min-height: 0;
	max-width: 100%;
}

.commentsignupbar__textarea-above {
	margin: auto;
}

.commentsignupbar__textarea {
	display: none;
}

.commentsignupbar__title {
	display: inline-block !important;
	margin-right: 20px;
	height: 30px;
	line-height: 32px !important;
}

.commentsignupbar__cta-container {
	display: inline-block;
}

.commentsignupbar__desc {
	display: none !important;
}