@import "./utils.scss";


@mixin filter($subdomain,$hash) {
	$hash: #{"#" + $hash};

	.side .md a[href*="#{$hash}"]:nth-child(2) {
		display: none;
	}

	:lang(#{$subdomain}) {
		.side .md a[href*="#{$hash}"]:first-child {
			display: none;
		}

		.side .md a[href*="#{$hash}"]:nth-child(2) {
			display: block;
		}
	}
}

@mixin flair-box {
	box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.07);
	text-shadow: 1px 1px rgba(0,0,0,0.1);
	color: white !important;
	border-radius: 2px;
}

// ( ͡° ͜ʖ ͡°) filter
@include filter(re,nsfw);

// Night mode filter
@include filter(nm,nightmode);

// Flair filter
.side .md {
	a[href="https://goo.gl/tSIBOE"] {
		background: $flair-small;
		@include flair-box;
	}

	a[href="https://goo.gl/EEM8fz"] {
		background: $flair-medium;
		@include flair-box;
	}

	a[href="https://goo.gl/q2Q9sb"] {
		background: $flair-large;
		@include flair-box;
	}

	a[href="https://goo.gl/sfwFhU"] {
		background: $flair-xlarge;
		@include flair-box;
	}

	a[href*="#none"] {
		font-size: 10px;
	}
}