@import "flags.scss";

$thumbnail-size: 70px;

@include cond-style(not $allow-user-flair) {
	.side {
		.flairtoggle,
		.flairtoggle + .tagline {
			display: none;
		}
	}
}

@include cond-style($block-thumbnails) {
	.thumbnail {
		display: none;
	}
}

@include cond-style(not $block-thumbnails) {
	.link {
		min-height: $thumbnail-size;

		.midcol {
			margin: 10px 10px 10px 18px !important;
		}

		.thumbnail {
			&.self, &.nsfw {
				margin: 10px 0;
			}
		}

		.rank,
		.parent:before {
			top: $thumbnail-size / 2;
		}
	}
}

@include cond-style($block-domains) {
	.domain a {
		display: none;
	}
}
