@import "utils.scss";

input,
textarea {
	font: inherit;
	outline: none;
}

input[type=text]:focus {
	background: white !important;
	@include std-input-outline;
}

input[type=checkbox] {
	-webkit-appearance: none;
	-moz-appearance: none;
	display: inline-block;
	margin: 2px 5px 2px 0 !important;
	width: 15px;
	height: 15px;
	line-height: 16px;
	border-radius: $master-border-radius;
	box-shadow: inset 0 0 0 2px $pop-back-darker;
	vertical-align: -6px;
	cursor: pointer;
}

input[type=checkbox]:checked {
	background: $pop-back-darker;
}

select {
	-webkit-appearance: none;
	border: 1px solid $pop-back-darker;
	color: $pop-col;
	border-radius: 3px;
	background: #f5fafb;
	padding: 4px 6px;
	min-width: 100px;
	outline: none;
}

select:focus {
	border-color: $secondary-highlight-col;
	color: $highlight-col;
}

label {
	color: $pop-col;
	cursor: pointer;
}

body {
	color: $main-col;
	font-family: Segoe, "PT Sans";
	background: $body-back;
}

.hover-bubble {
	z-index: 10000;
	border: none;
	border-radius: $master-border-radius;
	box-shadow: 0 2px 2px 1px rgba(0,0,0,0.07)
}

.hover-bubble.anchor-right:before {
	border-left-color: #eee;
	margin-top: 1px;
}

.hover-bubble.anchor-top:before {
	border: none;
}

.hover-bubble.multi-selector {
	padding: 0 0 6px 0 !important;
}

.multi-selector .title {
	background: $pop-back;
	padding: 5px;
	line-height: 1.1;
	border-radius: $master-border-radius $master-border-radius 0 0;
}

.hover-bubble.multi-selector .multi-list {
	margin-top: 7px;
}

.multi-name {
	background: $pop-back !important;
	border: none !important;
	height: 25px;
	padding: 0 8px !important;
}

.hover-bubble.multi-selector label {
	padding: 4px 12px;
}

.hover-bubble.multi-selector label:hover {
	background: transparent;
}

.hover-bubble.multi-selector .throbber {
	top: 12px;
	right: 10px;
}

.throbber,
.flairthrobber,
.flairselector.active[style*="18px"] {
	position: relative;
	background: none;

	&:before,
	&:after {
		content: "";
		display: block;
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background: $throbber-col;
		border-radius: 20%;
		animation: tifu-throb 1s infinite;
	}

	&:after {
		animation-delay: -400ms !important;
	}
}

@keyframes tifu-throb {
	0% {
		transform: scale(0) rotate(0deg);
		opacity: 1;
	}

	50% {
		opacity: 0.5;
	}

	100% {
		transform: scale(1) rotate(90deg);
		opacity: 0;
	}
}

#beta-help {
	padding: 4px 4px;
	box-shadow: 2px 2px 2px rgba(0,0,0,0.07);
	transform: translate(-8px, 7px);
}

.drop-choices a.choice {
	cursor: pointer;
	padding: 4px 9px 4px 9px;
	display: block;
}

.srdrop .choice.bottom-option {
	border: none;
	font-style: normal;
	font-weight: 600;
}

.drop-choices a.choice:hover {
	background: $pop-back-mod;
}

.debuginfo {
	height: 0;
}

.modal-content {
	border-radius: $master-border-radius !important;
	box-shadow: $modal-drop-shadow !important;
	border: none !important;
	overflow: hidden;
}

.modal-header {
	background: $pop-back !important;
}

.modal-backdrop {
	opacity: 1 !important;
	background: $modal-shadow-back;
}

.save-preferences {
	position: absolute;
	bottom: 10px;
	right: 10px;
}

.lang-modal {
	.modal-content {
		padding-bottom: 25px;
	}
}

button,
input[type="submit"] {
	height: 26px;
	@include standard-btn;
}