@import "./utils.scss";
@import "./sprite-settings.scss";

// Absolutely sized images
#header-img-a,
#header-img.default-header,
.beta-hint a,
#RESAccountSwitcherIcon,
#RESAccountSwitcherDropdown:after,
#mail,
#chat,
#modmail,
#new_modmail,
#header-bottom-right ul li:before,
#header-bottom-right ul li:after {
	@include set-size($image-width,$image-height,true);
	background-image: url($sprite-url) !important;
	background-repeat: no-repeat;
}

// Relatively sized images
.arrow {
	background-image: url($sprite-url) !important;
	background-repeat: no-repeat;
}

#header-img-a,
#header-img.default-header {
	@include map-rect($p-logo,$offs-logo);
}

.beta-hint a {
	@include map-rect($p-beta,$offs-header-icons);
}

#RESAccountSwitcherIcon {
	@include map-rect($p-switch,$offs-header-icons);
}

#RESAccountSwitcherDropdown:after {
	@include map-rect($p-switch-alt,$offs-header-icons);
}

#mail.nohavemail,
#mail.havemail {
	@include map-rect($p-mail,$offs-header-icons);
}

#chat,
#chat.active {
	@include map-rect($p-chat,$offs-header-icons);
}

#modmail.nohavemail,
#modmail.havemail {
	@include map-rect($p-modmail,$offs-header-icons);
}

#new_modmail.nohavemail,
#new_modmail.havemail {
	@include map-rect($p-new-modmail,$offs-header-icons);
}

#header-bottom-right ul li:before {
	@include map-rect($p-config,$offs-header-icons);
}

#header-bottom-right ul li:after {
	@include map-rect($p-config-alt,$offs-header-icons);
}

.arrow{
	@include set-size-rel(30,30);
	
	&.up {
		@include map-rect-rel($p-arrow-up,$offs-arrows);
	}

	&.upmod {
		@include map-rect-rel($p-arrow-upmod,$offs-arrows);
	}

	&.down {
		@include map-rect-rel($p-arrow-down,$offs-arrows);
	}

	&.downmod {
		@include map-rect-rel($p-arrow-downmod,$offs-arrows);
	}
}